/* CSS Backgrounds

    Utilizadas para criar fundos em páginas ou elementos
    utiliza de atributos para chegar nesse resultado.

    background-color -> Adiciona cor de fundo
    
    background-image -> Adiciona uma imagem no fundo

    background-repeat ->

    background-attachment -> 

    background-position -> Define a posição do fundo

    background: -> shorthand
*/

/* background-color */
p {
    background-color: hsl(66, 66%, 50%);
    /* Pode receber qualquer valor de cores */
}

/* Opacity / transparency */
/* É possível ter a propriedade opacity, para definir a transparência
    do elemento
*/
p {
    background-color: hsla(20, 100%, 50%, 0.3);
    opacity: 0.3; 
    /* Tem essa forma de declarar, mas utilizando hsla fica melhor */
}

/* 
    BACKGROUND-IMAGE

    Utiliza uma imagem no fundo do elemento, deve-se renderizar a imagem
    utilizando a função url("path.img")

    Sempre verifique se a imagem do fundo não interfere na leitura do 
    conteúdo.

    É possível colocar uma foto de fundo em qualquer elemento do html.
    
*/

/* 
    BACKGROUND-REPEAT

    Por padrão o CSS repete a imagem dentro do container.
    Para modificar esse padrão deve-se colocar a propriedade: 

    background-repeat: repeat-x; -> Para repetir somente de lado.
    background-repeat: repeat-y; -> Repetir somente encima.
    background-repeat: no-repeat; -> Mostra a imagem apenas uma vez. Mas cuidado, ela
    toma o tamanho da tela.
    
*/

/* 
    BACKGROUND-POSITION

    Define a posição do container dentro da imagem.

    background-position: right top; -> Container vai para o superior direito da imagem.
    
*/