/* CSS Borders */

/* 
    border-style: -> Define o estilo de borda que será aplicada. Existe vários estilos
    o que deve ter em mente é que você pode definir em cada parte do box e de várias
    formas.
*/

/* 
    border-width: -> Define a largura da porda. Se informar apenas uma, o efeito se aplicará em todos, se informar duas o efeito se aplicará up/down right/left, e se for informado 4,
    será um valor aplicado para cada lado do box, seguindo o sentido horário
*/

/* 
    border-color: -> Define a cor da borda, pode receber qualquer valor relacionado a cores.
    É possível definir cada cor da borda, basta adicionar 4 cores diferentes ou iguais na
    propriedade border-color.
*/

/* 
    border: -> Shorthand, ordem seria : width / style / color 

    border: 5px solid red;

    É possível utilizar shorthand para um lado da borda.

    border-left: 6px solid red;

*/

/* 
    Bordas redondas.

    border-radius: -> Utilizado para criar uma borda redonda na área.
*/

/* 
    border	Sets all the border properties in one declaration
    border-bottom	Sets all the bottom border properties in one declaration
    border-bottom-color	Sets the color of the bottom border
    border-bottom-style	Sets the style of the bottom border
    border-bottom-width	Sets the width of the bottom border
    border-color	Sets the color of the four borders
    border-left	Sets all the left border properties in one declaration
    border-left-color	Sets the color of the left border
    border-left-style	Sets the style of the left border
    border-left-width	Sets the width of the left border
    border-radius	Sets all the four border-*-radius properties for rounded corners
    border-right	Sets all the right border properties in one declaration
    border-right-color	Sets the color of the right border
    border-right-style	Sets the style of the right border
    border-right-width	Sets the width of the right border
    border-style	Sets the style of the four borders
    border-top	Sets all the top border properties in one declaration
    border-top-color	Sets the color of the top border
    border-top-style	Sets the style of the top border
    border-top-width	Sets the width of the top border
    border-width	Sets the width of the four borders
*/
